.header {
	background-color: white;
	.header-top {
		
		height: 40px;
		border-bottom: 1px solid #1890ff;
		display: flex;
		line-height: 40px;
		.trigger {
			width: 20%;
			padding: 0 24px;
			font-size: 18px;
			line-height: 40px;
			cursor: pointer;
			transition: color 0.3s;
			text-align: left;
		}

		.trigger:hover {
			color: #1890ff;
		}
		.top-right {
			width: 80%;
			text-align: right;
		}
	}
	.header-username {
		margin-left: 12px;
	}
	.header-btm {
		display: flex;
		height: 40px;
	}
	.header-btm-breadcrumbs {
		width: 40%;
		margin-left: 16px;
		line-height: 40px;
		/* text-align: center; */
	}
	.header-btm-info {
		width: 60%;
		text-align: right;
		margin-right: 16px;
		line-height: 40px;
		img {
			width: 20px;
			height: 24px;
			margin: 0 4px;
		}
	}
}
